<div class="login-container">
  <mat-card>
    <mat-card-title>Login to FletNix</mat-card-title>
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" required />
        <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
          Email is required
        </mat-error>
        <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
          Invalid email format
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" required />
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
          Password is required
        </mat-error>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="loginForm.invalid"
      >
        Login
      </button>
    </form>
    <p class="redirect-link">
      Don't have an account? <a href="/register">Create here</a>
    </p>
  </mat-card>
</div>
<p>login works!</p>
