/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.snackbar-success {
    background-color: #4caf50; /* Green */
    color: #fff;
  }
  
  .snackbar-error {
    background-color: #f44336; /* Red */
    color: #fff;
  }
  
  .snackbar-info {
    background-color: #2196f3; /* Blue */
    color: #fff;
  }
  
  .snackbar-warning {
    background-color: #ff9800; /* Orange */
    color: #fff;
  }
  